body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	margin-top: 50px;
	background-color: #fff;
}

label {
	display: inline-block;
}

nav a {
	text-decoration: none;
	padding-right: 20px;
	margin: 0;
}

#logo {
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

ul {
	padding: 0;
}

li {
	display: inline;
}

.ui-tooltip {
	padding: 5px;
	position: absolute;
	z-index: 1;
	max-width: 200px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
	font-size: 12px;
	font-family: 'Titillium Web', 'Titillium Regular', sans-serif;
}

.station_div {
	width: 100px;
	border: solid 3px;
	text-align: center;
	padding: 10px;
}

.note {
	font-size: 10px;
	color: red;
	padding: 0;
	margin-top: -20px;
}

table, th, td {
	border: solid 1px black;
}

th, td {
	border: solid 1px black;
	padding: 10px;
}

.flashes {
	color: green;
}

.round{
  width:80px;
  height:80px;
  border-radius:1000px;
  background:#CCC;
  border:3px solid #eee;
}

.square{
  width:80px;
  height:80px;
  background:#CCC;
  border:3px solid #eee;
}

.round:hover{
background:#84f784; 
  
}
.square:hover{
  background:#84f784;
}

#layout-area {
  width:100%;
  max-width:1000px;
  height:550px;
  background:#333;
  border:3px solid #CCC;
  margin:auto;
  position:relative;
  margin-top:100px;

}

.draggable { 
	width: 120px; 
	height: 120px; 
	padding: 0.5em; 
	display:inline-block;
	background: #ccc;
	border:3px solid #eee;
	text-align: center;
	color: #3c3c3c;
}

.draggable:hover {
	background: #84f784
}

.resizable { 
	padding: 0.5em; 
}

.resizable h3 { 
	text-align: center; 
	margin: 0;
	color: #000; 
}

#containment-wrapper { 
	width: 1000px; 
	height: 500px; 
	background: #444;
	border: 3px solid #ccc;
	/*margin: auto; */
	padding: 10px; 
/*	display: inline-block;*/
	position: relative;
}

#layout-area {
  width:100%;
  max-width:1000px;
  height:550px;
  background:#333;
  border:3px solid #CCC;
  margin:auto;
  position:relative;
  margin-top:100px;

}


.modal-body {
  height: 300px;
  margin-bottom:10px;
}

.modal-body h3{
	margin-top: 5px;
}

#containment-wrapper h3 {
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 5px;
}

.site-header {
	width: 100%;
	height: 500px;
}

/*kafjl*/

.wide {
  width: 100%;
  height: 400px;
  min-height: 100px;
  background-image: url('https://placekitten.com/g/1280/500');
  background-size: cover;
}

.wide img {
  width: 100%;
}

.logo {
  color: #fff;
  font-weight: 800;
  font-size: 14pt;
  padding: 25px;
  text-align: center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

#about {
	height: 300px;
	background-color: #ccc;
	width: 100%;
	padding: 20px 50px 20px 50px;
}

#features {
	height: 500px;
	background-color: #333;
	color: #fff;
	width: 100%;
	padding: 20px 50px 20px 50px;
}

.navbar {
	background: #333;
	color: #fff;
}




/*Media*/

@media screen and (max-width: 400px) {
    .wide {
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    .wide {
        height: 300px;
    }
}
