body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	margin-top: 50px;
	background-color: #4d4d4d;
	color: #fff;
}

body a {
	text-decoration: none;
	color: #fff;
}

body a:hover {
	color: #84f784;
}

b, thead {
	color: #84f784;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.3)
}


h1, h2, h4 {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.3)
}

h4 {
	color: #84f784;
}

.modal h1, .modal h2, .modal h3, .modal h4 {
	color: #333;
	text-shadow: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(255,255,255,0.2);
}

.table > tbody > tr > td {
	border-top: 1px solid #666;
}

.modal {
	color: #333;
}

.modal a {
	color: #333;
	text-decoration: underline;
}

body a:hover {
	text-decoration: none;
}

label {
	display: inline-block;
	font-weight: normal;
}

nav a {
	text-decoration: none;
	padding-right: 20px;
	margin: 0;
}

#logo {
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

ul {
	padding: 0;
}

li {
	display: inline;
}

.ui-tooltip {
	padding: 5px;
	position: absolute;
	z-index: 1;
	max-width: 200px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
	font-size: 12px;
	font-family: 'Titillium Web', 'Titillium Regular', sans-serif;
}

.station_div {
	width: 100px;
	border: solid 3px;
	text-align: center;
	padding: 10px;
}

.note {
	font-size: 10px;
	color: red;
	padding: 0;
	margin-top: -20px;
}

.flashes {
	color: green;
}

.round{
  width:80px;
  height:80px;
  border-radius:1000px;
  background:#CCC;
  border:3px solid #eee;
}

.square{
  width:80px;
  height:80px;
  background:#CCC;
  border:3px solid #eee;
}

.round:hover{
background:#84f784; 
  
}
.square:hover{
  background:#84f784;
}

#layout-area {
  width:100%;
  max-width:1000px;
  height:550px;
  background:#333;
  border:3px solid #CCC;
  margin:auto;
  position:relative;
  margin-top:100px;

}

.draggable { 
	width: 120px; 
	height: 120px; 
	padding: 0.5em; 
	display:inline-block;
	background: #ccc;
	border:3px solid #eee;
	text-align: center;
	color: #3c3c3c;
}

.draggable:hover {
	background: #84f784
}

.resizable { 
	padding: 0.5em; 
}

.resizable h3 { 
	text-align: center; 
	margin: 0;
	color: #000; 
}

#containment-wrapper { 
	width: 1000px; 
	height: 500px; 
	background: #444;
	border: 3px solid #ccc;
	/*margin: auto; */
	padding: 10px; 
/*	display: inline-block;*/
	position: relative;
}

#layout-area {
  width:100%;
  max-width:1000px;
  height:550px;
  background:#333;
  border:3px solid #CCC;
  margin:auto;
  position:relative;
  margin-top:100px;

}


.modal-body {
	height: 300px;
	margin-bottom:10px;
}

.modal-body h3{
	margin-top: 5px;
}

#containment-wrapper h3 {
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 5px;
}

.site-header {
	width: 100%;
	height: 500px;
}

.wide {
	height: 400px;
	min-height: 100px;
	background-image: url('https://placekitten.com/g/1280/500');
	background-size: cover;  
	width: 100%;
}

.wide img {
	  width: 100%;
}

.logo {
	  color: #fff;
	  font-weight: 800;
	  font-size: 14pt;
	  padding: 25px;
	  text-align: center;
}

.line {
	  padding-top:20px;
	  white-space:no-wrap;
	  overflow:hidden;
	  text-align:center;
}

#about {
	height: 100%;
	min-height: 300px;
	background-color: #84f784;
	width: 100%;
	padding: 20px 50px 20px 50px;
}

#features-body {
	background-color: #4d4d4d;
	border-top: 1px solid #666;
}
#features {
	height: 100%;
	min-height: 330px;
	background-color: #4d4d4d;
	color: #fff;
	width: 100%;
	max-width: 1000px;
	padding: 20px 50px 20px 50px;
	margin-right: auto;
	margin-left: auto;
}

#features a {
	color: #84f784;
}

#features a:hover {
	text-decoration: underline;
}

#features h3 {
	color: #84f784;
}

#features h2 {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

#footer {
	text-align: left;
	background-color: #333;
	color: #666;
	width: 100%;
	max-width: 1000px;
	height: 100px;
	padding: 20px 50px 20px 50px;
	margin-right: auto;
	margin-left: auto;
}


#footer-body {
	background-color: #333;
	border-top: 1px solid #666;
}


#footer img {
	height: 25px;
	opacity: 0.3;
	margin: 5px 8px 0 0;
}

#footer img:hover {
	opacity: 1.0;
}

#footer a {
	color: #666;
	text-shadow: 1.5px 2px 3px rgba(0,0,0,0.2);
}

#footer a:hover {
	color: #fff;
}

.navbar {
	background: #333;
	color: #fff;
	border-color: #333;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #84f784;
}

.navbar-default .navbar-brand {
	color: #84f784;
	font-weight: bold;
	font-size: 22px;
}

.navbar-default .navbar-brand:hover { 
	color: #fff;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #84f784;
    background-color: #333;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle:hover {
	background-color: transparent;
	color: #fff;
}

.navbar-default {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #84f784;
  background-color: transparent;
}

.modal-body div{
	text-align: center;
}

input {
/*	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	font-size: 12px;
	padding: 5px;
	width: 200px;
}

.nav > li > a {
	display: inline-block;
}

#logmsg {
	color: #84f784;
	font-style: italic;
	font-weight: 100;
	font-size: 12px;
}

#headertxt {
	color:#84f784;
}


#main_wrap { 
    display: table;
}

#sidebar {
	border-right: 1px solid #666;
    background-color: #333;
    min-width: 200px;
    display: table-cell;
    padding: 0 20px;
}

#content {
    display: table-cell;
    width: 100%;
    padding: 0 20px;
}

button {
	color: #000;
	/*border-radius: 10px;*/
}


/*Media*/

@media screen and (max-width: 400px) {
    .wide {
        height: 100px;
    }
    .modal-body {
		height: 100%;
	}
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.dropdown-menu > li > a:hover {
	background-color: #84f784;
}


@media screen and (max-width: 767px) {
    .wide {
        height: 300px;
    }
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    	color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #84f784;
	}

	.modal-body {
		height: 100%;
	}
}

@media screen and (max-width: 991px) {

	.modal-body {
		height: 100%;
	}
}
