<!DOCTYPE html>
<html>
	<head>
		<title>Turni - Your Online Esports Tournament Organizer</title>

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="/static/css/main.css">
		<!-- <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'> -->
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>


	</head>
	<body>
		<nav>
			<ul>
				<li><a href='/'><span id='logo'>turni</span></a></li>
				
				<li><a href='/about'>About</a></li>
				<li><a href='/features'>Features</a></li>
				<li><a href='/create-map'>Create Venue Map</a></li>
				<li><a href='/user-login'>Login</a></li>
				<li><a href='/user-register'>Register</a></li>
				<li><a href='/logout' id="logout">Logout</a></li>
				
			</ul>
		</nav>

		{% with messages = get_flashed_messages() %}
  			{% if messages %}
    			<ul class=flashes>
    			{% for message in messages %}
      				<li>{{ message }}</li>
    			{% endfor %}
    			</ul>
  			{% endif %}
		{% endwith %}


	<!-- This is where the main content goes. -->
	  {% block body %}
	      BODY OF PAGE GOES HERE VIA INHERITANCE
	  {% endblock %}

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script>
	  $(function() {
	    $( document ).tooltip();
	  });
	</script>
    <script>
    $(function() {
      $( ".draggable" ).draggable();
    });
    </script>
	</body>
</html>