{% extends 'base.html' %}

{% block body %}

<h2>Create Venue Map</h2>
<p class='note'><i>Note: Venue maps cannot be created for completed tournaments</i></p>
<form action='/map'>
    <label for="challonge_name">
    <input id="challonge" name="challonge_name" placeholder="Challonge username"></label>
    <br>
    <label for="challonge_email">
    <input name="challonge_email" placeholder="Challonge email"> </label>
    <br>
    <label>
    <input type="text" name="tournament_name" placeholder="Tournament Name" required> </label>
    <br>
    <label>
    <input type="text" name="url" placeholder="Tournament URL" title="challonge.com/[url]" required> </label>
    <br>
    <label>
    <input type="text" name="stream" placeholder="Stream link (optional)"> </label>
    <br>   
    <input type="submit" value="Create">

</form>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(function() {
    $( document ).tooltip();
  });
</script>


{% endblock %}