{% extends 'base.html' %}

{% block body %}
<div class="container">


<h2>Create Venue Map</h2>
<form action='/map' method='post'>
    <label>
    <input type="text" name="tournament_name" placeholder="Tournament Name" required> </label>
    <br>
    <label>
    <input type="text" name="url" placeholder="Tournament URL" title="challonge.com/[url]" disabled> </label>
    <br>
    <label>
    <input type="text" name="stream" placeholder="Stream link (optional)" disabled> </label>
    <br>   
    <input type="submit" value="Create">

</form>


{% endblock %}