{% extends 'base.html' %}

{% block body %}

<h2>Features</h2>
<ul><h3>For Tournament Organizers</h3>
	<li>>> Create interactive and customizable venue maps in seconds from <a href="http://challonge.com">Challonge brackets</a>.</li>
	<br>
	<li>>> <i>Nice to have*</i>: Create a general floor plan for participants that comes equipped with a chat box and an optional Twitch stream.</li>
	<h3>For participants</h3>
	<li>>> Get texts when it's your turn to play.</li>
	<br>
	<li>>> Gain access to a venue map provided by your TO, so you know where to go.</li>
</ul>




{% endblock %}