{% extends 'base.html' %}
{% block body %}



<div class="wide">

    <div class="container">
		<div id="headertxt">

	   	</div>
   	</div>
</div>

	<div id="features-body">
		<div id="features">
			<h2>Features</h2>
			<ul><h3>For Tournament Organizers</h3>
				<li>>> Create interactive and customizable venue maps in seconds from <a href="http://challonge.com">Challonge brackets</a>.</li>
				<br>
				<li>>> Have everything necessary on tournament day opened on one screen--Your Turni map, Challonge brackets, Twitch stream, and Twitch chat.</li>
				<h3>For participants</h3>
				<li>>> Get texts when it's your turn to play.</li>
				<br>
				<li>>> Gain access to a venue map provided by your TO, so you know where to go.</li>
			</ul>
		</div>
	</div>
</div>


{% endblock %}









