{% extends 'base.html' %}

{% block body %}
<style>
	.navbar {
		border-color: #666;
	}


</style>
<div id="main_wrap">


		<div id="sidebar">
			<center>
				<h2>Tournament Info</h2>
			</center>
			<ul>
				<li><b>Tournament Name</b>: {{ tournament_name }}</a></li>
				<br>
				<li><b>Tournament URL</b>: <a href="http://www.challonge.com/{{ url }}">{{ url }}</a></li>
				<br>
				<li><b>Number of stations</b>: {{ max_stations }}</li>
				<br>
				<br>
				<center>
				<b>Participants</b>:
				<br>
				{% for player in all_players %}

						<li><span id="player_info">{{ player }}</span></li><br>

				{% endfor %}
			</center>
			</ul>
		</div>




		<div id="content">
<!-- 				{% if stream %}
					<br>
					<a class="embedly-card" href="http://www.twitch.tv/s2jfalcon">s2jfalcon</a>
					<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8" width="50%"></script>
					<br>
				{% endif %} -->
			<!-- save coordinates button -->
			<h2>Map of {{ tournament_name }}</h2>
			<div id="save_status"></div>
			<button id="save">Save Coordinates</button>
			<!-- round buttons  -->
			<button id="round1">Round 1</button><button id="round2">Round 2</button><button id="round3">Round 3</button><button id="round4">Round 4</button><button id="round5">Round 5</button><button id="round6">Round 6</button>

			<br>

			<!-- where tables and match info goes -->
			<div id="containment-wrapper"></div>

			<!-- challonge jquery plugin -->

			<h2>Brackets</h2>
			<iframe src="http://challonge.com/{{ url }}/module" width="90%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
		</div>
	</div>




<!-- script -->
<script src="static/js/challonge_brackets.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>

$(function() {
  $( ".draggable" ).draggable();
  $( ".resizable" ).resizable();
  $( ".draggable3" ).draggable({ containment: "#containment-wrapper", scroll: false });
});
</script>


<!-- saving coordinates script -->

<script>
  
  function updateCoords() {
    // Gets coordinates from positions table in DB, so gaming stations are in same place when user returns to page later
    tournament_name = '{{ tournament_name }}'
    console.log(tournament_name)
    $.get('/get-coords', { tournament_name: tournament_name }, function (result) {
      result = JSON.parse(result);
      console.log(result);
      for (var i = 0; i < max_stations; i++) {       
	        $('#'+result[i][0]).css({'position': 'absolute', 'left': result[i][1]+'px', 'top': result[i][2]+'px'});
	        // console.log(result[i][1]+'px');
	        // console.log(result[i][2]+'px');     

      }

    }
    )

  };

  updateCoords();

  max_stations = 5
  var positions = [];
  
  function showPos() {
    // Shows dynamic coordinates of tables as they are dragged.

    for (var i = 1; i <= max_stations; i++) {  
      positions[i] = $('#table'+i).position();
      $('#table'+i).text('Left: ' + positions[i].left + '; Top: ' + positions[i].top);
    }
    };



  function saveToDb() {
    // Adds/updates table coordinates to database.

 
    for (var i = 1; i <= max_stations; i++) {

      pos = $('#table'+i).position();
      var positions = { left: pos.left, top: pos.top, table_id: "table"+i, tournament_name: '{{ tournament_name }}' };
      console.log("Saving positions: "+ pos.left + " " + pos.top + " " + positions.table_id + " " + tournament_name)
      $.post("/add-coords", positions, function (result) {
          $('#save_status').text(result);
      }
      );
    };

  };


  $('#save').on('click', saveToDb);

</script>
<script>
  $( init );
  function init() {
    $('.square, .round').draggable({
      containment: '#layout-area',  start: function(event, ui) {

        // Show start dragged position of image.
        var Startpos = $(this).position();
        // $("d fiv#start").text("START: \nX: "+ Startpos.left + "\nY: " + Startpos.op);
      },
        drag: function(event, ui){
            var Startpos = $(this).position();
            // $("div#current").text("Current: \nX: "+ Startpos.left + "\nY: " + Startpos.top);
            showPos();
        },
      // Find position where image is dropped.
      stop: function(event, ui) {

        // Show dropped position.
        var Stoppos = $(this).position();
        // $("div#stop").text("CURRENT: \nX: "+ Stoppos.left + "\nY: " + Stoppos.top) ;
      }

  });
  };
</script>

<!-- ################### -->

<script>
	var tables = {{ max_stations|safe }}
	var matches = {{ all_matches|safe }}
	var current_round = 0

	function updateTables(current_round) {
		for (var i = 0; i < matches[current_round].length; i++) {
			$('#table' + (i+1) + ' .match').text(matches[current_round][i]);
		};

		for (var i = matches[current_round].length; i < tables; i++) {
			$('#table' + (i+1) + ' .match').text('OPEN');
		};
	};


	$('#round1').on('click', function() {
		updateTables(0)
	});

	$('#round2').on('click', function() {
		updateTables(1)
	});	

	$('#round3').on('click', function() {
		updateTables(2)
	});

	$('#round4').on('click', function() {
		updateTables(3)
	});

	$('#round5').on('click', function() {
		updateTables(4)
	});

	$('#round6').on('click', function() {
		updateTables(5)
	});


	updateTables(current_round)

	max_stations = 16

	function addTables(max_stations) {
		for (var i = 1; i <= max_stations ; i++) {
			$('#containment-wrapper').append("<div class='draggable resizable draggable3 ui-widget-content' id='table" +i+ "'><h3>Station " + i + "</h3><span class='match'></span></div>");
		};

	};

	addTables(max_stations);

	var p = $( "#table1:first");
	var position = p.position();
	$( "p:last" ).text( "left: " + position.left + ", top: " + position.top );

</script>



{% endblock %}
