{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="/static/css/map.css">

<div id="main_wrap">

		<!-- left bar -->
		<div id="sidebar">
			<center>
				<h2>Tournament Info</h2>
			</center>
			<ul>
				<li><h4>Tournament Name</b></h4> {{ tournament_name }}</li>
				<br>
				<li><h4>Tournament URL</h4><a href="http://www.challonge.com/{{ url }}">{{ url }}</a></li>
				<br>
				<li><h4>Number of stations</h4> 5</li>
				<br>
				<hr>
				<center>
				<h4>Participants</h4>
					
					{% for player in all_players %}
						<li><span id="{{ player }}" class="all-players">{{ player }}</span></li><br>
					{% endfor %}

				<br>
				<div class="sidebar-social">
					© Turni 2015
					<br>
					<div class="icons">
						<a href="http://www.github.com/laurenor" target="_blank"><img src="/static/img/github.png"></a>
						<a href="https://www.linkedin.com/in/laurenortencio" target="_blank"><img src="/static/img/linkedin.png"></a>
						<a href="http://www.twitter.com/lortencio" target="_blank"><img src="/static/img/twitter.png"></a>
					</div>
				</div>
				<br>
			</center>
			</ul>
		</div>

		<div id="content">

			<!-- save coordinates button -->
			<h2>Map of {{ tournament_name }}</h2>
			<div id="save_status"></div>
			<button id="save">Save Coordinates</button>
			<button id="demo">Start Demo</button>
			<button id="reset">Reset</button>
			<br>

			<!-- where tables and match info goes -->
			<div id="containment-wrapper"></div>

			<!-- twitch stream -->
			<h2>Stream</h2>
			<iframe id="player" type="text/html" width="450" height="275"
			  src="http://www.twitch.tv/nakat973/embed"
			  frameborder="0"></iframe>

			<!-- twitch chat -->
			<iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/nakat973/chat" height="275" width="275"></iframe>

			<!-- challonge jquery plugin -->
			<h2>Brackets</h2>
			<iframe src="http://challonge.com/{{ url }}/module" width="750px" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>

		</div>

		<!-- right bar -->
		<div id="right-sidebar">
			<center>
				<h2>Current Seatings</h2>	
					<div class="current-seatings">
						<div id="indiv-table1" class="current-seat">
							<span class="indiv-head">Station 1</span>
							<br>
							<span class="match">---</span>
							<br>
							<span class="prev">Previous:</span>
							<span id="prev1" class="prev"></span>
						</div>
						<div id="indiv-table2" class="current-seat">
							<span class="indiv-head">Station 2</span>
							<br>
							<span class="match">---</span>
							<br>
							<span class="prev">Previous:</span>
							<span id="prev2" class="prev"></span>
						</div>
						<div id="indiv-table3" class="current-seat">
							<span class="indiv-head">Station 3</span>
							<br>
							<span class="match">---</span>
							<br>
							<span class="prev">Previous:</span>
							<span id="prev3" class="prev"></span>
						</div>
						<div id="indiv-table4" class="current-seat">
							<span class="indiv-head">Station 4</span>
							<br>
							<span class="match">---</span>
							<br>
							<span class="prev">Previous:</span>
							<span id="prev4" class="prev"></span>
						</div>
						<div id="indiv-table5" class="current-seat">
							<span class="indiv-head">Station 5</span>
							<br>
							<span class="match">---</span>
							<br>
							<span class="prev">Previous:</span>
							<span id="prev5" class="prev"></span>
						</div>
					</div>
			</center>
		</div>

	</div>

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="static/js/challonge_brackets.js"></script>

<script>
    $().ready(function() {
        var $scrollingDiv = $("#right-sidebar");
        $(window).scroll(function(){            
            $scrollingDiv
                .stop()
                .animate({"marginTop": ($(window).scrollTop() )}, "slow" );         
        });
    });
</script>

<script>
$(function(){
    $("#footer-body").hide();
});

$(function() {
  $( ".draggable" ).draggable();
  $( ".resizable" ).resizable();
  $( ".draggable3" ).draggable({ containment: "#containment-wrapper", scroll: false });
});
</script>

<!-- saving coordinates script -->
<script>
max_stations = 5

function updateCoords() {
  // Gets coordinates from positions table in DB, so gaming stations are in same place when user returns to page later
  tournament_name = '{{ tournament_name }}';
  $.get('/get-coords', { tournament_name: tournament_name }, function (result) {
    result = JSON.parse(result);
    for (var i = 0; i < max_stations; i++) {       
        $('#'+result[i][0]).css({'position': 'absolute', 'left': result[i][1]+'px', 'top': result[i][2]+'px'});
    }
  }
  )
};
updateCoords();

function reset() {
  // 
  $("#table1").css({'position': 'absolute', 'left': '72px', 'top': '50px', 'width': '162px', 'height':'303px'});
  $("#table2").css({'position': 'absolute', 'left': '309px', 'top': '50px', 'width': '120px', 'height':'120px'});
  $("#table3").css({'position': 'absolute', 'left': '495px', 'top': '50px', 'width': '120px', 'height':'120px'});
  $("#table4").css({'position': 'absolute', 'left': '309px', 'top': '227px', 'width': '120px', 'height':'120px'});
  $("#table5").css({'position': 'absolute', 'left': '495px', 'top': '227px', 'width': '120px', 'height':'120px'});
}
$('#reset').on('click', reset);

function saveToDb() {
  // Adds/updates table coordinates to database.
  for (var i = 1; i <= max_stations; i++) {
    pos = $('#table'+i).position();
    var positions = { left: pos.left, top: pos.top, table_id: "table"+i, tournament_name: '{{ tournament_name }}' };
    $.post("/add-coords", positions, function (result) {
        $('#save_status').text(result);
    }
    );
  };
};
$('#save').on('click', saveToDb);
</script>

<!-- adding and updating stations -->

<script>
	var tables = {{ max_stations|safe }}
	// var matches = {{ all_matches|safe }}
	var current_round = 0
	var players_dict = {{ players|safe }}
	var OPEN_STATIONS = 5
	var matches_done = 0
	var losers = []
	var open_tables = [];
	var playing_players = [];
	var CURRENT_MATCHES = []
	var list_of_matches = []

	function startFirst(data) {
		for (var i=0; i < OPEN_STATIONS; i++) {
			var player1_id = data[i].player1_id;
			var player2_id = data[i].player2_id;
			var match_id = data[i].id;
			var winner_id = data[i].winner_id;
			var loser_id = data[i].loser_id;
			var match = { match_id: match_id, player1_id: player1_id, player2_id: player2_id, winner_id: winner_id, loser_id: loser_id };
			CURRENT_MATCHES.push(match);
		};
		for (var i=0; i < data.length; i++) {
			var player1_id = data[i].player1_id;
			var player2_id = data[i]player2_id;
			var match_id = data[i].id;
			var winner_id = data[i].winner_id;
			var loser_id = data[i].loser_id;
			var match = { match_id: match_id, player1_id: player1_id, player2_id: player2_id, winner_id: winner_id, loser_id: loser_id };
			list_of_matches.push(match);
		};
	};
	$('#demo').on('click', startDemo);
	$('#demo').on('click', live);

	function live() {
		$('.live-tournament').html('');
		$('#containment-wrapper').append("<span class='live-tournament'><span class='circle'></span><b>LIVE</b></span>");
		$('.live-tournament').show();
		$('#congrats').text('');
		$('.all-players').css({'color':'white'});
	};

	function startDemo() {
		$.get('/mock-json', function(data) {
			CURRENT_MATCHES = [];
			startFirst(JSON.parse(data));
				updateTableByTableId(1);
				updateTableByTableId(2);
				updateTableByTableId(3);
				updateTableByTableId(4);
				updateTableByTableId(5);
				clearAndUpdateTables();
		} 
		);
	};

	function clearAndUpdateTables() {
		var i = 0;
		var table_id;		
		var demo_interval = setInterval(function () {
			if (list_of_matches.length > 0) { 
				table_id = (i%5)+1;
				clearTableByTableId(table_id);
				updateTableByTableId(table_id);
				i++;
			}
			else {
				clearInterval(demo_interval);
				$('.live-tournament').hide();
				$('#table1 .match').text('OPEN');
				$('#indiv-table1 .match').text('OPEN');
				$('#containment-wrapper').append("<span id='congrats'><center>Congratulations, ZeRo!</center></span>");
				
			} 
			}, 2000);
	};

	var to_be_cleared = [];
	function clearTableByTableId(table_id) {
		for (var i=0; i<OPEN_STATIONS; i++) {
			if (($('#table'+(i+1)).attr('id')) == ('table'+table_id)) {
				if ($('#table'+(i+1)+' .match').text() != "OPEN") {
					$('#prev'+(i+1)).text(($('#table'+(i+1)+' .match').text()));
				}
				$('#table'+(i+1)+' .match').text('OPEN');
				$('#indiv-table'+(i+1)+' .match').text('OPEN');
				$('#table'+(i+1)).attr('matchid', '0');
				return (i+1);
			};
		};
	};

	function updateTableByTableId(table_id) {
		var match = list_of_matches.shift();
		to_be_cleared.push(match);
		var player1_name = players_dict[match['player1_id']];
		var player2_name = players_dict[match['player2_id']];
		var player1_position = playing_players.indexOf(player1_name);
		var player2_position = playing_players.indexOf(player2_name);
		if ((player1_position > -1) && (player2_position > -1)) {
			clearTableByTableId(Math.floor(player1_position/2)+1);
			clearTableByTableId(Math.floor(player2_position/2)+1);
			playing_players[player1_position] = "";
			playing_players[player1_position+1] = "";
			playing_players[player2_position] = "";
			playing_players[player2_position-1] = "";
		}
		
		// Twilio SMS
		if (player1_name == "ZeRo" ) {
			text_message = { text_message: "" + player1_name + ", you're up against " + player2_name + " at Station " + table_id}
			$.post("/twilio", text_message, function (result) {
			}
			);
		}
		else if (player2_name == "ZeRo" ) {
			text_message = { text_message: "" + player2_name + ", you're up against " + player1_name + " at Station " + table_id}
			$.post("/twilio", text_message, function (result) {
			}
			);
		}
		// end Twilio SMS
		$('#table' + table_id + ' .match').text(players_dict[match['player1_id']] + ' vs. ' + players_dict[match['player2_id']]);

		$('#'+players_dict[match['loser_id']]).css({'color':'#666'});
		// current seatings
		$('#indiv-table' + table_id + ' .match').text(players_dict[match['player1_id']] + ' vs. ' + players_dict[match['player2_id']]);

		playing_players[(table_id-1)*2] = player1_name;
		playing_players[(table_id-1)*2+1] = player2_name;
	};

	function addTables(max_stations) {
		for (var i = 1; i <= max_stations ; i++) {
			$('#containment-wrapper').append("<div class='draggable resizable draggable3 ui-widget-content' id='table" +i+ "'><h3>Station " + i + "</h3><span class='match'></span></div>");
		};
	};

	addTables(max_stations);
	var p = $( "#table1:first");
	var position = p.position();
	$( "p:last" ).text( "left: " + position.left + ", top: " + position.top );
</script>



{% endblock %}