<!DOCTYPE html>

<style>
.draggable { width: 100px; height: 100px; padding: 0.5em; display:inline-block;}
.resizable { width: 100px; height: 100px; padding: 0.5em; }
.resizable h3 { text-align: center; margin: 0; }
#containment-wrapper { height:500px; width:1000px; border:2px solid #ccc; padding: 10px; display:inline-block;}
p { margin-left:10px;}
</style>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<button id="round1">Round 1</button><button id="round2">Round 2</button><button id="round3">Round 3</button><button id="round4">Round 4</button><button id="round5">Round 5</button><button id="round6">Round 6</button>

<div id="containment-wrapper"></div>


<p>Hello</p>
<p></p>

<script>
$(function() {
  $( ".draggable" ).draggable();
  $( ".resizable" ).resizable();
  $( ".draggable3" ).draggable({ containment: "#containment-wrapper", scroll: false });
});
</script>
<script>
	var tables = {{ tables|safe }}
	console.log(tables)
	var rounds = {{ rounds|safe }}
	var matches = {{ all_matches|safe }}
	console.log(rounds)
	var current_round = 0

	function updateTables(current_round) {
		for (var i = 0; i < matches[current_round].length; i++) {
			$('#table' + i + ' .match').text(matches[current_round][i]);
		};

		for (var i = matches[current_round].length; i < tables; i++) {
			$('#table' + i + ' .match').text('OPEN');
		};
	};


	$('#round1').on('click', function() {
		updateTables(0)
	});

	$('#round2').on('click', function() {
		updateTables(1)
	});	

	$('#round3').on('click', function() {
		updateTables(2)
	});

	$('#round4').on('click', function() {
		updateTables(3)
	});

	$('#round5').on('click', function() {
		updateTables(4)
	});

	$('#round6').on('click', function() {
		updateTables(5)
	});


	updateTables(current_round)

	max_stations = 16

	function addTables(max_stations) {
		for (var i = 0; i < max_stations ; i++) {
			$('#containment-wrapper').append("<div class='draggable resizable draggable3 ui-widget-content' id='table" +i+ "'><h3 class='ui-widget-header'>Station " + (i+1) + "</h3><span class='match'></span><br><span class='pos"+i+"'></span></div>");
		};

	};

	addTables(max_stations);

	var p = $( "#table1:first");
	var position = p.position();
	$( "p:last" ).text( "left: " + position.left + ", top: " + position.top );

</script>



