{% extends 'base.html' %}

{% block body %}

<h2>Tournament Info</h2>
<ul>
	<li><b>Tournament URL</b>: <a href="http://www.challonge.com/{{ url }}">{{ url }}</a></li>
	<br>
	<li><b>Number of stations</b>: {{ max_stations }}</li>
	<br>
	<b>Participants</b>:
	{% for player in all_players %}
		<li><span id="player_info">{{ player }}</span> </li> 
	{% endfor %}
	{% if stream %}
<!-- 		<li><a href="{{ stream }}">Watch on stream</a></li>
		<br> -->
		<a class="embedly-card" href="http://www.twitch.tv/s2jfalcon">s2jfalcon</a>
		<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8" width="50%"></script>
		<br>
	{% endif %}
</ul>

<!-- save coordinates button -->
<div id="save_status"></div>
<button id='save'>Save Coordinates</button>

<!-- round buttons  -->
<button id="round1">Round 1</button><button id="round2">Round 2</button><button id="round3">Round 3</button><button id="round4">Round 4</button><button id="round5">Round 5</button><button id="round6">Round 6</button>

<div id="containment-wrapper"></div>

<h2>Brackets</h2>
<iframe src="http://challonge.com/{{ url }}/module" width="90%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>


<script src="static/js/challonge_brackets.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
  $( ".draggable" ).draggable();
  $( ".resizable" ).resizable();
  $( ".draggable3" ).draggable({ containment: "#containment-wrapper", scroll: false });
});
</script>
<script>
	var tables = {{ max_stations|safe }}
	var matches = {{ all_matches|safe }}
	var current_round = 0

	function updateTables(current_round) {
		for (var i = 0; i < matches[current_round].length; i++) {
			$('#table' + i + ' .match').text(matches[current_round][i]);
		};

		for (var i = matches[current_round].length; i < tables; i++) {
			$('#table' + i + ' .match').text('OPEN');
		};
	};


	$('#round1').on('click', function() {
		updateTables(0)
	});

	$('#round2').on('click', function() {
		updateTables(1)
	});	

	$('#round3').on('click', function() {
		updateTables(2)
	});

	$('#round4').on('click', function() {
		updateTables(3)
	});

	$('#round5').on('click', function() {
		updateTables(4)
	});

	$('#round6').on('click', function() {
		updateTables(5)
	});


	updateTables(current_round)

	max_stations = 16

	function addTables(max_stations) {
		for (var i = 0; i < max_stations ; i++) {
			$('#containment-wrapper').append("<div class='draggable resizable draggable3 ui-widget-content' id='table" +i+ "'><h3>Station " + (i+1) + "</h3><span class='match'></span><br><span class='pos"+i+"'></span></div>");
		};

	};

	addTables(max_stations);

	var p = $( "#table1:first");
	var position = p.position();
	$( "p:last" ).text( "left: " + position.left + ", top: " + position.top );

</script>


{% endblock %}
