{% extends 'base.html' %}

{% block body %}
<h2>Register</h2>
<form action='/register' method='POST'>
    <label>
    <input type="text" name="username" placeholder="challonge username" required> </label>
    <br>
    <label>
    <input type="email" name="email" placeholder="email" required> </label>
    <br>
    <label>
    Organizer <input type="radio" name="user_type" value="Organizer">
    Pariticipant<input type="radio" name="user_type" value="Participant">
	</label>
    <br>
    <label>
    <input type="password" name="password" placeholder="password" required> </label>
    <br>
    <label>
    <input type="password" name="confirm" placeholder="verify password" required></label>
    <br>
    <input type="submit" value="Register">

</form>


{% endblock %}