{% extends 'base.html' %}

{% block body %}
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<div id="main_wrap">

  <div id="sidebar">
    <p>Click "Try it". Wait 3 seconds. Your page will alert "Hello".</p>

    <p>When you close the alert box, an new alert box will appear in 3 seconds.</p>

    <p>This will go on forever, until you close the window.</p>

    <button onclick="setInterval(function(){alert('Hello')},3000);">Try it</button>

    <br>
    <br>

    <button id="append_hello">Append</button>


    <span class="append"></span>

    </body>
    </html>
  </div>

  <div id="content">
    content stuff
  </div>

    <div id="sidebar">
    <p>Click "Try it". Wait 3 seconds. Your page will alert "Hello".</p>

    <p>When you close the alert box, an new alert box will appear in 3 seconds.</p>

    <p>This will go on forever, until you close the window.</p>

    <button onclick="setInterval(function(){alert('Hello')},3000);">Try it</button>

    <br>
    <br>

    <button id="append_hello">Append</button>


    <span class="append"></span>

    </body>
    </html>
  </div>

  



</div>


<script>

function appendHello() {
  setInterval(function(){ 
    $('.append').append('hello')   
  },2000);
};

$('#append_hello').on('click', appendHello)



</script>



<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Draggable - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/resources/demos/style.css">
  <style>
  .draggable { width: 150px; height: 150px; padding: 0.5em; }
  .resizable { width: 150px; height: 150px; padding: 0.5em; }
  .resizable h3 { text-align: center; margin: 0; }
  </style>
  <script>
  $(function() {
    $( ".draggable" ).draggable();
  });
  $(function() {
    $( ".resizable" ).resizable();
  });
  </script>
</head>
<body>
 
<div class="draggable resizable ui-resizable ui-resizable-resizing ui-widget-content">
  <p>Drag me around 1</p>
</div>

<div class="draggable resizable ui-resizable ui-resizable-resizing ui-widget-content">
  <p>Drag me around 2</p>
</div>

<div class="draggable resizable ui-widget-content">
  <h3 class="ui-widget-header">Draggable + Resizable</h3>
</div>
 
 
</body>
</html> -->

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++ comment +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->



<!-- <html>
<head>
<style type='text/css'>
   html, body {height: 100%; margin: 0}
   #content {width: 100%; height: 100%}
   #left {width: 100px; height: 100%; float: left; background-color: red}
   #right {margin-left: 100px; height: 100%; background-color: green}
</style>
</head>
<body>
<div id='content'>
   <div id='left'>Testing</div>
   <div id='right'>Testing</div>
</div>
</body>
</html> -->

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++ comment +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


<!-- 
</head>
 
<body>
 
 <div id="save_status"></div>
 <button id='save'>Save Coordinates</button>
  <div id="layout-area">
    <div id="table1" class="square resize"> </div>
    <div id="table2" class="square resize"> </div>
    <div id="table3" class="round resize"> </div>
    <div id="table4" class="round resize"> </div>
    <div id="table5" class="square resize"> </div>
  </div>


<script>
  
  function updateCoords() {
    // Gets coordinates from positions table in DB, so gaming stations are in same place when user returns to page later
    
    $.get('/get-coords', function (result) {
      result = JSON.parse(result);
      console.log(result);
      for (var i = 0; i < max_stations; i++) {       
        $('#table'+(i+1)).css({'position': 'absolute', 'left': result[i][1]+'px', 'top': result[i][2]+'px'});
        console.log(result[i][1]+'px');
        console.log(result[i][2]+'px');     

      }

    }
    );
  };

  updateCoords();

  max_stations = 5
  var positions = [];
  
  function showPos() {
    // Shows dynamic coordinates of tables as they are dragged.

    for (var i = 1; i <= max_stations; i++) {  
      positions[i] = $('#table'+i).position();
      $('#table'+i).text('Left: ' + positions[i].left + '; Top: ' + positions[i].top);
    }
    };



  function saveToDb() {
    // Adds/updates table coordinates to database.

    pos = []
    for (var i = 1; i <= max_stations; i++) {
      pos[i] = $('#table'+i).position();
      console.log(pos[i]);
      var positions = { left: pos[i].left, top: pos[i].top, table_id: $('#table'+i).attr('id') };
      $.post("/add-coords", positions, function (result) {
          $('#save_status').text(result);
      }
      );
    };

  };


  $('#save').on('click', saveToDb);

</script>
<script>
  $( init );
  function init() {
    $('.square, .round').draggable({
      containment: '#layout-area',  start: function(event, ui) {

        // Show start dragged position of image.
        var Startpos = $(this).position();
        // $("d fiv#start").text("START: \nX: "+ Startpos.left + "\nY: " + Startpos.op);
      },
        drag: function(event, ui){
            var Startpos = $(this).position();
            // $("div#current").text("Current: \nX: "+ Startpos.left + "\nY: " + Startpos.top);
            showPos();
        },
      // Find position where image is dropped.
      stop: function(event, ui) {

        // Show dropped position.
        var Stoppos = $(this).position();
        // $("div#stop").text("CURRENT: \nX: "+ Stoppos.left + "\nY: " + Stoppos.top) ;
      }

  });
  }
</script>
 -->
{% endblock %}