{% extends 'base.html' %}

{% block body %}

<style>
	.deco {
		text-decoration: underline;
	}
</style>

<div class="container">

<h2>{{ username }}</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Tournament Name</th>
			<th>Participants</th>
			<th>Created On</th>
			<th>Delete?</th>
		</tr>
	</thead>
{% for tournament in tournaments %}
	<tr>
		<td><a href="/map?tournament_name={{ tournament }}" class='deco' id='{{ tournament }}'>{{ tournament }}</a></td>
		<td>10</td>
		<td>August 23, 2015</td>
		<td><a href="#" class="delete"><b>x</b></a></td>
	</tr>
{% endfor %}
</table>


<script>

function confirmDel(evt) {
	evt.preventDefault();
	// confirm('Are you sure you want to delete the Turni?');
	if (confirm('Are you sure you want to delete the Turni?') ==  true) {
		$.post("/delete-tourn", { tournament_name:'Turni 1'} , function (result) {
	          alert(result);
	      }
	      );
	};
};
$(".delete").on('click', confirmDel);

	// $('.delete').on('click', confirmDel);

</script>


{% endblock %}


